a {
  color: #9D5014; }
  a:hover {
    color: #B7580F; }

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%); }

body {
  cursor: default;
  background-color: #1E1E1E;
  padding-top: 28px; }
  body .row {
    margin-top: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #e1e1e1; }
  body .row:first-child {
    color: white;
    margin-top: 0;
    margin-bottom: 50px; }

.item {
  font-size: larger; }
  .item > div:first-child {
    font-size: 1.4em;
    border-left: 2px solid #2AEA2A; }
  .item a.name {
    color: #e1e1e1;
    font-weight: bold; }

.profile {
  position: relative;
  border-bottom: 3px solid #4F2CED; }
  .profile p {
    margin-bottom: 5px;
    margin-left: 105px; }
  .profile .avatar {
    position: absolute;
    height: 92%; }
  .profile .chinese-name {
    font-size: 2.7em;
    letter-spacing: 0.1em; }
  .profile .english-translation {
    font-size: 1.4em;
    letter-spacing: 0.08em; }
  .profile #net-info-container {
    position: absolute;
    right: 15px;
    bottom: 1px;
    text-align: right;
    font-size: larger; }
    .profile #net-info-container p i {
      margin-right: 5px; }

.work-experience > div:first-child {
  font-size: 1.3em; }

.social a {
  display: inline-block;
  margin: 0 18px;
  color: #e1e1e1; }

.row.footer {
  font-style: italic;
  color: #555; }
