a {
  color: #9D5014; }
  a:hover {
    color: #B7580F; }

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%); }

body {
  cursor: default;
  background-color: #1E1E1E;
  padding-top: 28px; }
  body .row {
    margin-top: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #E1E1E1; }
  body .row:first-child {
    color: white;
    margin-top: 0;
    margin-bottom: 50px; }
  body li {
    list-style-type: square; }

.item {
  font-size: larger; }
  .item > div:first-child {
    font-size: 1.4em;
    border-left: 2px solid #2AEA2A; }
  .item a.name {
    color: #E1E1E1;
    font-weight: bold; }

.profile {
  position: relative;
  border-bottom: 3px solid #4F2CED; }
  .profile p {
    margin-bottom: 5px;
    margin-left: 115px; }
  .profile .avatar {
    position: absolute;
    height: 92%; }
  .profile .chinese-name {
    font-size: 2.7em;
    letter-spacing: 0.1em; }
  .profile .english-translation {
    font-size: 1.4em;
    letter-spacing: 0.08em; }
  .profile #net-info-container {
    position: absolute;
    right: 15px;
    bottom: 1px;
    text-align: right;
    font-size: larger; }
    .profile #net-info-container p i {
      margin-right: 5px; }

.during {
  font-size: 90%; }

.work-experience > div:first-child {
  font-size: 1.3em; }
.work-experience .job .job-title:after {
  content: " @ "; }

.projects .project {
  float: left;
  width: 46%;
  margin: 10px 2%;
  display: inline-block;
  background-color: #222222;
  border-radius: 15px;
  padding: 10px 15px; }
  .projects .project .project-name {
    font-size: 1.2em;
    margin-bottom: 10px; }
  .projects .project .project-techniques {
    text-align: center;
    padding: 5px 10px;
    background-color: #262626;
    margin-top: 10px;
    border-radius: 5px;
    color: #CCC;
    font-size: 90%; }
.projects img.preview {
  width: 100%; }

.social a {
  display: inline-block;
  margin: 0 20px;
  color: #E1E1E1; }

.row.footer {
  font-style: italic;
  color: #555; }
